 *{
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

/* container */
.section__margin {
    margin-top: 8rem;
}
.section__padding {
    padding: 5px 3rem;
}


/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #000000; */
    position: fixed;
    height: 4rem;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999999;
}

nav .navbar-nav a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    margin: 0 1.2rem;
    color: rgb(0, 0, 0);
}

nav .navbar-logo a {
    font-size: 2rem;
    font-style: italic;
    color: black;
    font-weight: 600;
}

nav .navbar-boost a{
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
}

nav .navbar-boost button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgb(32, 54, 255);
    border: none;
}

nav .navbar-boost a:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    
}

nav .navbar-nav a:hover{
    color: black;
}


/* hero section */

.hero-section {
    background: black;
    box-shadow: 0 0 0 100vmax black;
    clip-path: inset(0 -100vmax);
    margin-top: 4rem;
}

.hero-section_content {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.hero-section_content h1 {
    color: white;
    line-height: 5rem;
    font-weight: 500;
    font-size: 75px;
    text-align: center;
}

.hero-section_content p {
    color: white;
    letter-spacing: 1.2px;
    font-size: 22px;
    text-align: center;
    margin-top: 2px;
}

.hero-section_content span {
    font-weight: 600;
}

.hero-section_content-text {
    display: flex;
    justify-content: center;
}

.hero-button {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.hero-button button{
    color: black;
    cursor: pointer;
    font-size: 26px;
    border: none;
    border-radius: 55px;
    background-color: white;
    width: 13rem;
    height: 3.7rem;
}

.hero-section_image {
    display: flex;
    justify-content: center;
}

.hero-section_image img{
    width: 60%;
    height: 60%;
}

/* online business section */
.onlinebusiness {
    display: flex;
    justify-content: center;
}
.onlinebusiness_container-content {
    display: flex;
}

.onlinebusiness_container-content h1{
    font-size: 50px;
    width: 500px;
}

.onlinebusiness_container-content p{
    font-size: 20px;
    line-height: 1.6rem;
    width: 500px;
}

.onlinebusiness_container-content_text {
    display: flex;
    flex-direction: column;
    margin: 1.8rem 0 0 3rem;
}

.onlinebusiness_container-content_text a {
    text-decoration: underline;
    margin: 10px 0;
    color: black;
    font-size: 18px;
}



/* designs section */
.design-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-section h1 {
    font-size: 50px;
    text-align: center;
}

.design-section p {
    font-size: 22px;
    text-align: center;
    line-height: 1.8rem;
}

.design-section span {
    font-weight: 600;
}

.design-section_image {
    display: flex;
    justify-content: center;
}

.design-section_image img{
    width: 100%;
    height: 100%;
}

/* about section */

.about-section {
    height: 50rem;
    background: #f5f5f5;
    box-shadow: 0 0 0 100vmax #f5f5f5;
    clip-path: inset(0 -100vmax);
}

.about-section_content {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.about-section_content h1 {
    font-size: 58px;
    width: 600px;
}

.about-section_content p {
    width: 800px;
    margin: 2.5rem 0 0 9rem;
    font-size: 22px;
    line-height: 2rem;
}

.about-section_content button {
    width: 9.5rem;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
    height: 2.8rem;
    font-size: 18px;
    background-color: black;
    color: white;
}